<!DOCTYPE html>

<html lang="en">
<head>
  <%= render :header %>
</head>

<body id="download">

    <div id="preso">
        <h1>File Not Found!</h1>
        <h2><%= @env['REQUEST_PATH'] %>
    </div>
    <div id="footer">
        <span id="debugInfo"></span>
    </div>
</body>
</html>
